<section class="fgraph-dashboard">
  <label for="graph-name">{{ localize 'FvttGraph.GraphForm.GraphName' }}</label>
  <div class="form-fields">
    <input class="droppable" data-drag="true" type="text" id="graph-name" value="{{ graph.name }}" data-id="{{ graph.name }}" data-action="onChangeGraphName" data-dtype="String" {{#if
      edit }}{{#if graph.id }} readonly="true" {{/if}}{{/if}} required="true">
  </div>
  <div class="form-fields">
    <label for="graph-id">{{ localize 'FvttGraph.GraphForm.GraphId' }}</label>
    <input type="text" id="graph-id" value="{{ graph.id }}" data-id="{{ graph.id }}" data-dtype="String"
      readonly="true">
  </div>
  <div class="form-fields">
    <label for="graph-desc">{{ localize 'FvttGraph.GraphForm.GraphDesc' }}</label>

  <textarea id="graph-desc" rows="5" cols="33">{{graph.desc}}</textarea>
</div>
<div class="graph-select-wrapper">
    <label for="graph-type-select">Select Graph Type:</label>
    <select id="graph-type-select" name="graphId">
      <option value="">--Please choose an option--</option>
      {{#each graphTypes}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <button id="create-graph-btn">Create Graph</button>
  
  <p class="create-graph">
    {{#if is_gm}}
    <button data-action="onCreateGraph" class="fgraph-btn">
      <i class="fas fa-plus"></i>
      {{localize "FvttGraph.CreateGraph"}}
    </button>
    {{/if}}
  </p>

  <small class="graph-version1">v{{ version }}</small>

  <div class="resources grid grid-2col">
    <div class="resource flex-group-center">
      <div class="resource-content flexrow flex-center flex-between">
        <div class="left flexcol">
          <label for="graph-select">Plot graph:</label>
          <select id="graph-select" name="graphId">
            <option value="">--Please choose an option--</option>
            {{#each graphs}}
            <option value="{{id}}" style="color:{{color}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        {{#if is_gm}}
        <div class="left flexcol">
          <button data-action="edit-graph" class="fgraph-btn mr-1"><i class="fas fa-pencil-alt"></i> {{localize
            "FvttGraph.EditGraph"}}</button>
          <button data-action="render-graph" class="fgraph-btn mr-1"><i class="fas fa-project-diagram"></i> {{localize
            "FvttGraph.RenderGraph"}}</button>
          <button data-action="print-graph" class="fgraph-btn"><i class="fas fa-print"></i> {{localize
            "FvttGraph.PrintGraph"}}</button>
        </div>
        {{/if}}

      </div>
    </div>

    <div class="resource flex-group-center">
      <div class="resource-content flexrow flex-center flex-between">
        <svg width="600" height="600" id="mygraph"></svg>
      </div>
    </div>
  </div>

</section>